%html
  %body
    .container
      .general-info-wrap.divider-lg.mt-2
        %h1.text-center.mt-5
          = "How it works?"
        %p.lead.big.text-lg-center.mt-5
          = "First of all, you need to contact us by email andruhovickola167@gmail.com"
        %p.lead.big.text-lg-center.mt-5
          = "Secondly, give us all info we request"
        %p.lead.big.text-lg-center.mt-5
          = "And then, if all is valid, see your request of main page"
